<html>
<head>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
<h1 class= 'firstheader';>Welcome to the <a id ='headerlink' href= 'https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=what%20is%20a%20chair'>Chair</a> Emporium</h1>

<div id = 'cf';>
<img src = 'http://www.pattayahouse.info/wp-content/uploads/2016/05/stylish-mixed-dining-room-chairs-lighting.jpeg';></img>
<img id='fadeimg' src = 'http://www.pattayahouse.info/wp-content/uploads/2016/05/incredible-mixed-dining-room-chairs-paint.png'></img></div>

<div id = 'chairbox';><p>A chair is a piece of furniture with a raised surface, commonly used to seat a single person. Chairs are supported most often by four legs and have a back.</p>

<p>Chairs are made of a wide variety of materials, ranging from wood to metal to synthetic material (e.g., plastic), and they may be padded or upholstered in various colors and fabrics, either just on the seat (as with some dining room chairs) or on the entire chair. </p>

<p>The chair has been used since antiquity, although for many centuries it was a symbolic article of state and dignity rather than an article for ordinary use. "The chair" is still used as the emblem of authority in the House of Commons in the United Kingdom and Canada, and in many other settings. In keeping with this historical connotation of the "chair" as the symbol of authority, committees, boards of directors, and academic departments all have a 'chairman' or 'chair'.</p>
</div>

<div class = 'center'>
	<li class = 'chairlinks'><a href = '/welcome/about'>about us</a></li>
	<li class = 'chairlinks'><a id ='contactlink' href='https://www.google.com/maps/place/Nicole's+Emporium+Inc/@40.5485339,-74.2318207,17z/data=!3m1!4b1!4m5!3m4!1s0x89c3b5289fe7bee7:0xb74e4d8f5c831a40!8m2!3d40.5485339!4d-74.229632'>location</a></li>
</div>

</body>
</html>